# Environnements Python
.venv/
venv/
ENV/

# Cache Python
__pycache__/
*.py[cod]

# Configuration utilisateur (runtime)
config.json

# Dépendances externes lourdes
tools/

# fichiers de build

releases/

# Fichiers personnels / docs de travail
*.odt
*.ods
*.pdf

# OS / éditeurs
.DS_Store
Thumbs.db

# LibreOffice lock files
.~lock.*
.~*

# LibreOffice temp / backup
*.tmp
*.bak
